.btn {
    padding: 15px 20px;
    border-radius: 25px;
    color : #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border : none;
    cursor: pointer;
    width: 240px;
    margin-top: 20px;
} 

.btn:active{
    transform: translateY(4px);
}