.ojek-input-form{
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 25px;
    background: #dbd9d9;
    font-size: 15px;
    border : none;
    width: 200px;
}

.ojek-input{
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
    background: none;
    color : #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border : none;
}

.fas, .fa-eye{
    cursor: pointer;
    padding-left: 12px;
}