<div class="ojek-input-form">
    <i class="{{inputIcon}}"></i>
    <input [type]="inputType" class="ojek-input" [placeholder]="inputPlaceholder">
    <i *ngIf="password" class="{{showPassword}}" (click) = "changeIcon()"></i>
</div>